doctype
html
    head
        title todo_node_app
        //fixme fix href's for stylesheet
        //link(href="../assets/css/materialize.min.css" rel="stylesheet")

    body
        .wrapper
            block content

        //script(src="../assets/js/materialize.min.js")